/* Only apply styling when the `focus-active-sentence` class is present */

.focus-active-sentence .cm-line {
    opacity: 0.5;
}

.focus-active-sentence .cm-active.cm-line {
    opacity: 1;
}

.focus-active-sentence .cm-active.cm-line .active-paragraph {
    opacity: 0.5;
}

.focus-active-sentence .cm-active.cm-line .active-sentence {
    opacity: 1;
}