/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.cm-line {
    opacity: 0.5;
}

.cm-active.cm-line {
    opacity: 1;
}

.cm-active.cm-line .active-paragraph {
    opacity: 0.5;
}

.cm-active.cm-line .active-sentence {
    opacity: 1;
}